div#entries {
  max-width: 1366px;

  .list-title {
    font-weight: bold;
    padding: 0.75rem 1.25rem;
  }

  div.condensed {
    .post-title {
      white-space: normal;
      text-align: left;
    }

    .direct-link {
      display: none;
    }

    header:hover {
      .direct-link {
        display: inline !important;
      }
    }
  }

  .black-bg {
    background-color: #000;
  }

  div.entry {
    &:first-child {
      padding-top: 0.5em;
    }

    .actions {
      div {
        margin-left: 0.25rem;
      }
      button {
        margin: 0;
        padding: 0;
      }
    }

    div.ratio-bg {
      background-color: black;

      div.ratio-container {
        max-width: 100%;
        margin: 0 auto;

        .ratio.loading {
          background-color: #000000;
        }

        img,
        iframe,
        video {
          max-width: 100%;
        }
      }
    }
    footer {
      font-size: 0.8em;

      button {
        line-height: 1 !important;
        padding: 0;
        margin: 0;
      }
    }
  }
}

.video-container {
  position: relative;

  &.unlocked {
    .video-ctr,
    &.unmuted .video-audio {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 0.25s, opacity 0.25s linear;
    }
    &.muted .video-audio,
    &.paused .video-play {
      visibility: visible;
      opacity: 1;
    }
  }

  &.locked {
    .video-ctr,
    &.unmuted .video-audio {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s 0.25s, opacity 0.25s linear;
    }
  }

  .video-controls {
    position: absolute;
    right: 10px;
    top: 10px;
    button {
      color: white;
      text-shadow: 1px 1px #000;
      position: relative;
    }
    .video-audio-cont {
      .audio-disabled {
        position: absolute;
        width: 300px;
        right: 0;
        font-size: 0.75rem;
        visibility: hidden;
        opacity: 0;
        color: white;
        transition: visibility 0s 0.25s, opacity 0.25s linear;
      }
      &:hover {
        .audio-disabled {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

.footer-status {
  margin-bottom: calc(80vh);
  padding: 0 1.25rem;
}

#debugInfo {
  position: fixed;
  right: 20px;
  top: 75px;
  bottom: 75px;
  z-index: 1000;
  background-color: white;
  font-family: monospace;
  overflow: scroll;

  &.closed {
    background-color: transparent;
  }

  .debug-info-content {
    width: 250px;
  }
}

/** Specific settings for Desktop **/
.no-phone {
  .actionable {
    background-color: rgb(245, 245, 245);
  }

  .actions {
    opacity: 0.5;
  }

  .actionable .actions,
  .actions:hover {
    opacity: 1;
  }

  .byline span {
    white-space: nowrap;
  }
}

.no-touch {
  .video-container {
    position: relative;

    &.unlocked:hover {
      .video-ctr,
      &.unmuted .video-audio {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s 0.25s, opacity 0.25s linear;
      }
    }
  }
}
/** End Specific settings for Desktop **/
