div#entries {
  max-width: 1024px;

  div.condensed {
    .post-title {
      white-space: normal;
      text-align: left;
    }

    .direct-link {
      display: none;
    }

    header:hover {
      .direct-link {
        display: inline !important;
      }
    }

  }

  div.entry {
    &:first-child {
      padding-top: 0.5em;
    }

    .actions {
      opacity: 0.5;
    }

    &.actionable .actions, .actions:hover {
      opacity: 1;
    }

    .actions {
      div {
        margin-left: 0.25rem;
      }
      button {
        margin: 0;
        padding: 0;
      }
    }

    div.ratio-bg {
      background-color: black;

      div.ratio-container {
        max-width: 100%;
        margin: 0 auto;

        .ratio.loading {
          background-color: #000000;
        }

        img, iframe, video {
          max-width: 100%;
        }
      }
    }
    .video-container {
      position: relative;
      &.unmuted .video-audio {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 0.25s, opacity 0.25s linear;
      }
      &.unmuted:hover .video-audio {
        visibility: visible;
        opacity: 1;
      }
      &:hover .video-audio .tooltip {
        opacity: 1;
      }

      .video-audio {
        position: absolute;
        right: 10px;
        top: 10px;
        button {
          color: white;
          text-shadow: 1px 1px #000;
          position: relative;
        }
        .audio-disabled {
          position: absolute;
          width: 300px;
          right:0;
          font-size: 0.75rem;
          visibility: hidden;
          opacity: 0;
        }

        &:hover .audio-disabled {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    footer {
      font-size: 0.8em;

      button {
        line-height: 1 !important;
        padding: 0;
        margin: 0;
      }
    }
  }
}

.footer-status {
  margin-bottom: calc(90vh);
}

#debugInfo {
  position: fixed;
  right: 20px;
  top: 75px;
  z-index: 1000;
  background-color: white;
  width: 250px;
  font-family: monospace;
}
