body,html,.row-offcanvas {
  height:100%;
}

body {
  padding-top: 50px;
}

button.astext {
  background:none;
  border:none;
  margin:0;
  padding:0;
  color: #337ab7;
}

#sidebar, #header-sidebar {
  width: inherit;
  min-width: 200px;
  max-width: 200px;
  //background-color:#f5f5f5;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#main, #header-main {
  height:100%;
  overflow:auto;
}

#header-main {
  overflow: visible;
}

#sidebar, #main {
  padding-top: 20px;
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 200px);
  }

  .row-offcanvas-left
  {
    left: -200px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}

div.entries {
  padding-bottom: 100px;
  .footer-status {
    margin: 10px 0;
  }
}

div.entry {
  div.ratio-bg {
    background-color: black;
    div.ratio-container {
      max-width: 100%;
      margin: 0 auto;
      .ratio.loading {
        background: url(/images/loading_black.gif) no-repeat center #000000;
      }
      img, iframe, video {
        max-width: 100%;
      }
    }
  }

  &.hideSticky {
    .content, .meta-container {
      display: none;
    }
  }

  .meta span.meta-sub {
    padding-right: 1em;
    display: inline-block;
    //vertical-align: middle;
    .label, .badge {
      display: inline-block;
      margin-top: -0.2em;
    }
  }

  .entry-interior {
    max-width: 1110px;
    //margin: 0 auto;
    position: relative;
  }

  .title {
    //    text-align: center;
    padding-right: 75px;
  }

  .black-bg {
    background-color: black;
  }

  .vote {
    position: absolute;
    top: 0;
    right: 0;
    button {
      padding-left: 3px;
      padding-right: 3px;
    }
    .voted-up {
      color: red;
    }
    .voted-down {
      color: red;
    }
  }

  .embed-container {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .iframe_4x4 {
    width: 1024px;
    height: 1024px;
    max-width: 100%;
  }

  img.reddit-thumb {
    width: 140px;
    height: 140px;
  }

  iframe {
    border: 0;
  }

  .stretch {
    width: 100%;
  }

  .albumEntry {
    position: relative;
    .albumNav {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10000;
    }
  }
}

#header {
  .subreddit-entry-filter {
    padding: 12px 0;
    position: relative;
    display: inline-block;
    float: left;
    z-index: 100000;
  }

  .header-target {
    color: #ccc;
    padding-top: 5px;
    font-size: 15px;
  }
}

#subreddits-nav {
  position: fixed;
  .sortDropDown {
    .dropdown-menu li a, .dropdownActive {
      text-transform: capitalize;
    }
  }
  #subreddits nav {
    overflow-y: scroll;
    margin: 10px 0;
    width: 100%;
  }
  .subtoggle {
    cursor: pointer;
  }
  #current-sort {
    text-transform: capitalize;
  }
  .glyphicon-none {
    color: transparent !important;
    cursor: default;
  }

  .subnav {
    margin-left: 10px;
  }

  .icon-right {
    position: absolute;
    right: 10px;
    top: 0;
    padding: 0;
  }

  #subreddit-filter-group {
    .form-group-sm {
      position: relative;
      #searchclear {
        position: absolute;
        right: 0;
        top: -2px;
        bottom: 0;
        height: 14px;
        margin: auto;
        font-size: 10px;
        cursor: pointer;
        color: #ccc;
        border: 0;
        background-color: transparent;
      }
    }
  }

  .nav-divider {
    height: 1px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }

  .subreddit-options {
    display: none;
  }

  ul.nav {
    li {
      font-size: 90%;
      div.sub-dead a {
        color: #d3d3d3;
      }
      div.sub-stale a {
        color: #d3d3d3;
      }
      div.sub-new a, div.sub-today {
        font-weight: bold;
      }
    }
  }

}

.subreddit-entry-filter {
  .dropdown-menu li {
    position: relative;
  }

  #sr-title {
    text-transform: uppercase;
    margin-bottom: 0;
  }
  #current-sort {
    text-transform: uppercase;
  }

  .menu-shortcut {
    position: absolute;
    right: 20px;
    top: 3px;
  }
}





.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}






