.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  //background-color: rgba(0, 0, 0, .25);
  //box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.header-main {
  color: #ffffff;
  .react {
    color: #61dafb;
  }

  .reddit {
    color:rgb(252,71,35);
  }
}

.menu-link {
  i {
    vertical-align: middle;
  }
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

#subreddits .nav-link {
  padding-bottom: 0;
  padding-top: 0;
}

.filterText {
  position: relative;
  padding: 0 0 0 1rem
}

.form-group .form-control-clear {
  z-index: 10;
  pointer-events: auto;
  right: 5px;
  top: 5px;
  position: absolute;
  cursor: pointer;
}

.sort-menu {
  .sort-active .sort-title:before {
      content: "> ";
  }
}

#search {
  position: relative;
  .searchToolTip {
    position: absolute;
    background-color: #343a40;
    color: white;
  }
}

.subInfo {
  position: absolute;
  background-color: white;
  color: #343a40;
  border: solid 1px #343a40;
  padding: 5px;
  margin-top: 15px;
  width: 50%;
  min-width: 200px;
  white-space: normal !important;
}
