#aside-content {
  overflow-y: scroll;
  font-size: 0.925em;

  .nav {
    width: 100%;
  }

  .nav-item {
    position: relative;
    width: 100%;
    a {
      margin: 0;
      padding: 0;
      width: 100%;
      &.sub-dead {
        color: #d3d3d3;
      }
      &.sub-stale {
        color: #d3d3d3;
      }
      &.sub-new,
      &.sub-today {
        font-weight: 600;
      }
      &.activeSubreddit,
      &.mark {
        &:before {
          content: '> ';
        }
      }
    }
  }

  .badge {
    position: absolute;
    right: 2px;
    top: 2px;
  }

  .sidebar-heading {
    margin: 0.75rem 0 0 0;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle !important;
  }

  .faded {
    opacity: 0.2 !important;
  }

  .reload {
    cursor: pointer;
  }
}

.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 17px;
}

.close-menu-link {
  display: none;
}

@media (max-width: 767.98px) {
  .sidebar {
    transition: margin-left 0.3s;
    margin-left: -14rem !important;
    //display: none !important;
  }

  #main {
    padding-left: 0 !important;
  }

  .close-menu-link {
    display: none;
  }

  .show-menu {
    .sidebar {
      margin-left: 0 !important;
      width: 100%;
    }

    .close-menu-link {
      display: inherit;
    }

    .open-menu-link {
      display: none !important;
    }

    #main {
      visibility: hidden !important;
    }

    .navbar-brand,
    .header-main,
    .search-cont,
    .sub-un-sub {
      display: none !important;
    }
  }

  .menu-link {
    display: inline !important;
    margin: 0 0 0 !important;
    padding: 0 !important;
  }
}

.no-touch {
  #aside-content .nav-item:hover {
    background-color: #fcf8e3;
  }

  // Override hover for multis
  #sidebar-multis {
    .nav-item:hover {
      background-color: unset;
    }
    .subnav .nav-item:hover {
      background-color: #fcf8e3;
    }
  }
}
