#splash {
  background: #212529;
}

.landing-icon {
  background-image: url('../images/reacddit-loading.svg');
  background-size: 128px 128px;
  background-repeat: no-repeat;
  width: 128px;
  height: 128px;
}
