.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  //background-color: rgba(0, 0, 0, .25);
  //box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.supersmall {
  font-size: 9px;
}

.header-main {
  color: #ffffff;
}

#search .form-control-clear {
  top: 10px;
  z-index: 100000;
}

.menu-link {
  i {
    vertical-align: middle;
  }
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  //border-width: 0;
  //border-radius: 0;
}

#subreddits .nav-link {
  padding-bottom: 0;
  padding-top: 0;
}

.filterText {
  position: relative;
  padding: 0 0 0 1rem;
  &.filter-unfocused {
    .filter-clear {
      color: white;
    }
  }
}

.form-group .form-control-clear {
  z-index: 10;
  pointer-events: auto;
  right: 5px;
  top: 5px;
  position: absolute;
  cursor: pointer;
}

.sort-menu {
  .active {
    background-color: var(--bs-dropdown-link-hover-bg);
    color: var(--bs-dropdown-link-hover-color);
  }

  .sort-active {
    background-color: var(--bs-primary);
    color: var(--bs-white);
  }

  .subsortlinks .sort-active .sort-title:before {
    content: '> ';
  }
}

.header-actions {
  .header-button {
    padding-left: 0.5rem !important;
    &:focus {
      outline: none;
    }
  }
}

body.search-active {
  .header-actions {
    display: none !important;
  }
  #search {
    padding-right: 0.5rem !important;
  }
}

@media (hover: none) and (pointer: coarse) {
  .menu-shortcut {
    display: none;
  }
}

#search {
  position: relative;
  .searchToolTip {
    position: absolute;
    background-color: #343a40;
    color: white;
    button {
      font-size: 90%;
    }
  }
  #search-clear {
    color: white;
  }
  &.search-focused #search-clear {
    color: black;
  }
}

[data-bs-theme='dark'] #search.search-focused #search-clear {
  color: white;
}

@media (max-width: 767.98px) {
  header {
    flex-wrap: wrap-reverse;
  }

  body.search-active {
    .header-brand-title {
      display: none !important;
    }
    .search-cont {
      padding-left: 0.5rem;
    }
  }

  body:not(.search-active) #search {
    display: flex;
    justify-content: flex-end;
  }

  .search-icon-button {
    margin-left: auto;
  }
}
